* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --red: #e50914;
}
.rating {
  background-color: #21c71e;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 3px 10px;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 18px;
  margin-bottom: 1rem;
}

.social-link {
  color: white;
  transition: all 0.3s ease;
}
.social-link:hover {
  transform: translateY(-3px);
  color: var(--red);
}
